.filterContainer {
  width: 360px;
}

.locationBox {
  margin-bottom: 32px;
}

.locationTitle {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: rgba(16, 24, 40, 0.6);
}

.filterBoxTitle {
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: rgba(16, 24, 40, 0.6);
}
