.homePage {
  background-color: #fff;
}

.header {
  height: 200px;
  background-color: #2a2a2a;
  background-image: linear-gradient(
      rgba(13, 6, 6, 0.797),
      rgba(147, 136, 169, 0.894)
    ),
    url(/src/assets/images/stock-photo-summer-tourism-with-rv-campers-parked-in-a-row-in-a-caravan-parking-area-best-option-for-travel-1797003109.jpg);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.title {
  text-align: center;
  color: #000;
  padding-top: 50px;
  font-weight: 700;
  font-size: 48px;
}

.text {
  font-size: 24px;
  font-weight: 400;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 40px 60px;
}

.contacts {
  margin-top: 50px;
  font-size: 24px;
  font-weight: 500;
  background-color: #fff;
  color: #000;
  text-align: center;
}
