.navBox {
  width: 1440px;
  display: flex;
  padding: 10px 60px;
  align-items: center;
  justify-content: space-between;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 15px;
  color: blue;
  font-weight: 500;
}

.active {
  text-decoration: underline rgb(255, 247, 0);
  text-underline-offset: 6px;
}
