/* .modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalWindow {
  background-color: #fff; 
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  position: relative;
} */

.detailsLine {
  margin: 0;
  height: 1px;
  background-color: rgba(16, 24, 40, 0.2);
  border: none;
}

.detailsFeaturesBox {
  width: 430px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.detailsFeaturesList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.detailsFeaturesItem {
  padding: 12px 18px;
  border-radius: 100px;
  background: #f2f4f7;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.detailsVehicle {
  margin-top: 24px;
  width: 430px;
}

.vehicleTitle {
  margin-bottom: 44px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main-color);
}

.detailsVehicleList {
  margin-top: 24px;
  width: 430px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.detailsVehicleItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: var(--main-color);
}

.detailsIcons {
  width: 20px;
  height: 20px;
}
