.notFound {
  height: 600px;
  background-color: #2a2a2a;
  background-image: url(/src/assets/images/6325254.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
